{% extends 'development/layout.html' %}
{% load static %}

{% block content %}
    <div id="app"></div>

    <div class="container-xxl flex-grow-1 container-p-y">
        
        <div class="row gy-4">

            <!-- Bootstrap Table with Header - Light -->
          <div class="card">
            <h5 class="card-header">Manage Users</h5>
            <div class="table-responsive text-nowrap">
                <table class="table">
                    <thead class="table-light">
                      <tr>
                        <th class="text-truncate">User</th>
                        <th class="text-truncate">Email</th>
                        <th class="text-truncate">Role</th>
                        <th class="text-truncate">Status</th>
                        <th class="text-truncate">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for user in users %}
                      <tr>
                        <td>
                          <div class="d-flex align-items-center">
                            <div class="avatar avatar-sm me-3">
                              <img src="{% static 'development/assets/img/avatars/1.png' %}" alt="Avatar" class="rounded-circle" />
                            </div>
                            <div>
                              <h6 class="mb-0 text-truncate">{{ user.first_name }} {{ user.last_name }}</h6>
                              <small class="text-truncate">@{{ user.username }}</small>
                            </div>
                          </div>
                        </td>
                        <td class="text-truncate">{{ user.email }}</td>
                        <td class="text-truncate">
                          {% if user.is_superuser %}
                          superuser
                          {% else %}
                          {{ user.role }}
                          {% endif %}
                        </td>
                        <td>
                          {% if user.is_active %}
                          <span class="badge bg-label-success rounded-pill">Active</span>
                          {% else %}
                          <span class="badge bg-label-warning rounded-pill">Pending</span>
                          {% endif %}
                        </td>
                        <td>
                          <div class="dropdown">
                            <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                              <i class="mdi mdi-dots-vertical"></i>
                            </button>
                            <div class="dropdown-menu">
                              <a class="dropdown-item" href="javascript:void(0);"
                                ><i class="mdi mdi-pencil-outline me-1"></i> Edit</a
                              >
                              <a class="dropdown-item" href="javascript:void(0);"
                                ><i class="mdi mdi-trash-can-outline me-1"></i> Delete</a
                              >
                            </div>
                          </div>
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
            </div>
          </div>
          <!-- Bootstrap Table with Header - Light -->

        </div>
      </div>
{% endblock %}