{% extends 'development/layout.html' %}
{% load static %}

{% block content %}
    <div id="app"></div>

    <div class="container-xxl flex-grow-1 container-p-y">
        
        <div class="row gy-4">

          <!-- Bootstrap Table with Header - Light -->
          <div class="col-md-12 col-lg-8">
            <div class="card">
                <h5 class="card-header">Manage Requirements</h5>
                <div class="table-responsive text-nowrap">
                  <table class="table">
                    <thead class="table-light">
                      <tr>
                        <th class="text-truncate">SL</th>
                        <th class="text-truncate">Buyer</th>
                        <th class="text-truncate">Requirements Label</th>
                        <th class="text-truncate">Status</th>
                        <th class="text-truncate">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for requirement in requirements%}
                      <tr>
                        <td class="text-truncate">{{ forloop.counter }}</td>
                        <td class="text-truncate">{{ requirement.buyer }}</td>
                        <td class="text-truncate">{{ requirement.requirement_label }}</td>
                        <td>
                          {% if requirement.is_active %}
                          <span class="badge bg-label-success rounded-pill">Active</span>
                          {% else %}
                          <span class="badge bg-label-warning rounded-pill">Pending</span>
                          {% endif %}
                        </td>
                        <td>
                          <div class="dropdown">
                            <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                              <i class="mdi mdi-dots-vertical"></i>
                            </button>
                            <div class="dropdown-menu">
                              <a class="dropdown-item" href="javascript:void(0);"
                                ><i class="mdi mdi-pencil-outline me-1"></i> Edit</a
                              >
                              <a class="dropdown-item" href="javascript:void(0);"
                                ><i class="mdi mdi-trash-can-outline me-1"></i> Delete</a
                              >
                            </div>
                          </div>
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
          </div>
          <!-- Bootstrap Table with Header - Light -->
        </div>
      </div>
{% endblock %}