{% extends 'development/layout.html' %}
{% load static %}

{% block content %}
    <div id="app"></div>

    <div class="container-xxl flex-grow-1 container-p-y">
        <!-- Basic Layout -->
        <div class="col-xxl">
            <div class="card mb-4">
              <div class="card-header d-flex align-items-center justify-content-between">
                <h5 class="mb-0">Create Report</h5>
                <small class="text-muted float-end">Tusuka-Development</small>
              </div>
              <div class="card-body">
                <form method="post" action="">
                  {% csrf_token %}
                  <!-- Buyer -->
                  <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" for="buyer-name">Buyer</label>
                    <div class="col-sm-4">
                      <select id="buyer-name" class="form-select">
                        <option>--</option>
                        <option value="1">LPP</option>
                        <option value="2">Group Dynamite</option>
                        <option value="3">Bonobo</option>
                      </select>
                    </div>
                    <!-- Requirements -->
                    <label class="col-sm-2 col-form-label" for="requirement">Requirements</label>
                    <div class="col-sm-4">
                      <select id="requirement" class="form-select">
                        <option>--</option>
                        <option value="1">Lt/Mid</option>
                        <option value="2">Dark</option>
                        <option value="3">Brut</option>
                      </select>
                    </div>
                  </div>
                  <!-- Date -->
                  <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" for="receive-date">Receive Date</label>
                    <div class="col-sm-4">
                      <input type="date" class="form-control" id="receive-date"/>
                    </div>
                    <label class="col-sm-2 col-form-label" for="report-date">Report Date</label>
                    <div class="col-sm-4">
                      <input type="date" class="form-control" id="report-date"/>
                    </div>
                  </div>
                  <!-- Style -->
                  <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" for="basic-default-name">Style</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="basic-default-name" placeholder="Style" />
                    </div>
                  </div>
                  <!-- Color -->
                  <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" for="color">Color</label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control" id="color" placeholder="Color" />
                    </div>
                    <label class="col-sm-2 col-form-label" for="sample-type">Sample Type</label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control" id="sample-type" placeholder="Sample Type" />
                    </div>
                  </div>
                  <!-- Fabric Reference -->
                  <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" for="fabric-ref">Fabric Reference</label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control" id="fabric-ref" placeholder="Fabric Reference" />
                    </div>
                    <label class="col-sm-2 col-form-label" for="supplier">Supplier</label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control" id="supplier" placeholder="Supplier" />
                    </div>
                  </div>
                  
                 <!-- Rubbing -->
                 <div class="row mb-3">
                  <label class="col-sm-2 col-form-label" for="dry-rubbing">Dry Rubbing</label>
                  <div class="col-sm-4">
                    <input type="text" class="form-control" id="dry-rubbing" placeholder="Dry Rubbing" />
                  </div>
                  <label class="col-sm-2 col-form-label" for="wet-rubbing">Wet Rubbing</label>
                  <div class="col-sm-4">
                    <input type="text" class="form-control" id="wet-rubbing" placeholder="Wet Rubbing" />
                  </div>
                </div>
                  <!-- Raw Tear -->
                  <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" for="raw-tear-warp">Raw Tear Warp</label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control" id="raw-tear-warp" placeholder="Raw Tear Warp" />
                    </div>
                    <label class="col-sm-2 col-form-label" for="raw-tear-weft">Raw Tear Weft</label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control" id="raw-tear-weft" placeholder="Raw Tear Warp" />
                    </div>
                  </div>
                  <!-- Wash Tear -->
                  <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" for="wash-tear-warp">Wash Tear Warp</label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control" id="wash-tear-warp" placeholder="Wash Tear Warp" />
                    </div>
                    <label class="col-sm-2 col-form-label" for="wash-tear-weft">Wash Tear Weft</label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control" id="wash-tear-weft" placeholder="Wash Tear Weft" />
                    </div>
                  </div>
                  <!-- Tensile -->
                  <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" for="tensile-warp">Tensile Warp</label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control" id="tensile-warp" placeholder="Tensile Warp" />
                    </div>
                    <label class="col-sm-2 col-form-label" for="tensile-weft">Tensile Weft</label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control" id="tensile-weft" placeholder="Tensile Weft" />
                    </div>
                  </div>
                  <!-- Save -->
                  <div class="row justify-content-end">
                    <div class="col-sm-10">
                      <button type="submit" class="btn btn-primary">Save</button>
                      <button type="submit" class="btn btn-info">Save & Copy</button>
                      <button type="submit" class="btn btn-success">Save & New</button>
                    </div>
                  </div>
                </form>
               
              </div>
            </div>
        </div>
          
    </div>
{% endblock %}