{% extends 'development/layout.html' %}
{% load static %}

{% block content %}
    <div id="app"></div>

    <div class="container-xxl flex-grow-1 container-p-y">
        <!-- Basic Layout -->
        <div class="col-xxl">
            <div class="card mb-4">
              <div class="card-header d-flex align-items-center justify-content-between">
                <h5 class="mb-0">Create Report</h5>
                <small class="text-muted float-end">Tusuka-Development</small>
              </div>
              <div class="card-body">
                <form method="post" action="{% url 'create-report' %}">
                  {% csrf_token %}
                  <!-- Buyer -->
                  <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" for="buyer">Buyer</label>
                    <div class="col-sm-4">
                      <select id="buyer" name="buyer" class="form-select">
                        <option>--</option>
                        {% for buyer in buyers %}
                        <option value="{{ buyer }}">{{ buyer }}</option>
                        {% endfor %}
                      </select>
                    </div>
                    <!-- Requirements -->
                    <label class="col-sm-2 col-form-label" for="requirement">Requirements</label>
                    <div class="col-sm-4">
                      <select id="requirement" name="requirement" class="form-select">
                        <option>--</option>
                        {% for requirement in requirements %}
                        <option value="{{ requirement }}">{{ requirement }}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                  <!-- Date -->
                  <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" for="receive_date">Receive Date</label>
                    <div class="col-sm-4">
                      <input type="date" class="form-control" name="receive_date" id="receive_date"/>
                    </div>
                    <label class="col-sm-2 col-form-label" for="report_date">Report Date</label>
                    <div class="col-sm-4">
                      <input type="date" class="form-control" name="report_date" id="report_date"/>
                    </div>
                  </div>
                  <!-- Style -->
                  <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" for="style">Style</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" name="style" id="style" placeholder="Style" />
                    </div>
                  </div>
                  <!-- Color -->
                  <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" for="color">Color</label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control" name="color" id="color" placeholder="Color" />
                    </div>
                    <label class="col-sm-2 col-form-label" for="sample_type">Sample Type</label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control" name="sample_type" id="sample_type" placeholder="Sample Type" />
                    </div>
                  </div>
                  <!-- Fabric Reference -->
                  <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" for="fab_ref">Fabric Reference</label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control" name="fab_ref" id="fab_ref" placeholder="Fabric Reference" />
                    </div>
                    <label class="col-sm-2 col-form-label" for="fab_supplier">Supplier</label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control" name="fab_supplier" id="fab_supplier" placeholder="Supplier" />
                    </div>
                  </div>
                  
                 <!-- Rubbing -->
                 <div class="row mb-3">
                  <label class="col-sm-2 col-form-label" for="dry_rubbing">Dry Rubbing</label>
                  <div class="col-sm-4">
                    <input type="text" class="form-control" name="dry_rubbing" id="dry_rubbing" placeholder="Dry Rubbing" />
                  </div>
                  <label class="col-sm-2 col-form-label" for="wet_rubbing">Wet Rubbing</label>
                  <div class="col-sm-4">
                    <input type="text" class="form-control" name="wet_rubbing" id="wet_rubbing" placeholder="Wet Rubbing" />
                  </div>
                </div>
                  <!-- Raw Tear -->
                  <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" for="raw_tear_warp">Raw Tear Warp</label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control" name="raw_tear_warp" id="raw_tear_warp" placeholder="Raw Tear Warp" />
                    </div>
                    <label class="col-sm-2 col-form-label" for="raw_tear_weft">Raw Tear Weft</label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control" name="raw_tear_weft" id="raw_tear_weft" placeholder="Raw Tear Warp" />
                    </div>
                  </div>
                  <!-- Wash Tear -->
                  <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" for="wash_tear_warp">Wash Tear Warp</label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control" name="wash_tear_warp" id="wash_tear_warp" placeholder="Wash Tear Warp" />
                    </div>
                    <label class="col-sm-2 col-form-label" for="wash_tear_weft">Wash Tear Weft</label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control" name="wash_tear_weft" id="wash_tear_weft" placeholder="Wash Tear Weft" />
                    </div>
                  </div>
                  <!-- Tensile -->
                  <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" for="tensile_warp">Tensile Warp</label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control" name="tensile_warp" id="tensile_warp" placeholder="Tensile Warp" />
                    </div>
                    <label class="col-sm-2 col-form-label" for="tensile_weft">Tensile Weft</label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control" name="tensile_weft" id="tensile_weft" placeholder="Tensile Weft" />
                    </div>
                  </div>
                  <!-- Save -->
                  <div class="row justify-content-end">
                    <div class="col-sm-10">
                      <button type="submit" class="btn btn-primary">Save</button>
                      <button type="submit" class="btn btn-info">Save & Copy</button>
                      <button type="submit" class="btn btn-success">Save & New</button>
                    </div>
                  </div>
                </form>
               
              </div>
            </div>
        </div>
          
    </div>
{% endblock %}