{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>DevReport Invoice</title>
    <style>
        /* Add your custom styles here */
        body {
            font-family: Arial, sans-serif;
            background-color: #f8f9fa;
            margin: 0;
            padding: 0;
        }

        .invoice {
            width: 100%;
            max-width: 794px; /* A4 width in pixels */
            margin: 0 auto;
            padding: 10px;
            background-color: #fff;
            border: 1px solid #ccc;
            border-radius: 10px;
            box-sizing: border-box;
        }

        .invoice-header {
            text-align: center;
            padding: 0px;
        }

        .invoice-details {
            margin-bottom: 10px;
        }
        p {
            font-size: 12pt;
            padding: 0px;
            font-weight: bold;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 0px;
        }

        table, th, td {
            border: 1px solid #ddd;
        }
        
        th, td {
            padding: 5px;
            text-align: center;
            font-size: 10pt;
        }

        .invoice-footer {
            margin: 40px 0px 20px 0px;
            padding-top: 20px;
        }
        /* Styles for printing */
        @media print {
            body {
                margin: 0;
                padding: 0;
            }

            .invoice {
                border: none;
            }

            /* Set print margins */
            @page {
                margin: 0.25in;
            }
        }
    </style>
</head>
<body>

    <div class="invoice">
        <div class="invoice-header">
            <!-- Add your logo here -->
            <img src="development/static/development/logo.png" alt="Logo" style="width: auto; height: 50px;">
            <h1 style="font-size: 30px; margin: 0;"><strong>TUSUKA LABORATORY</strong></h1>
        </div>

        <div class="invoice-details">

        <!-- Information section -->
        <table class="table">
            
            <tbody>
                <tr>
                    <td><strong>Buyer: </strong></td>
                    <td><strong>{{ report.buyer }}</strong></td>
                    <td><strong>Receive Date:</strong></td>
                    <td>{{ report.receive_date }}</td>
                </tr>
                <tr>
                    <td><strong>Style: </strong></td>
                    <td>{{ report.style }}</td>
                    <td><strong>Report Date:</strong></td>
                    <td>{{ report.report_date }}</td>
                </tr>
                <tr>
                    <td><strong>Color: </strong></td>
                    <td>{{ report.color }}</td>
                    <td><strong>Fabric Reference:</strong></td>
                    <td>{{ report.fab_ref }}</td>
                </tr>
                <tr>
                    <td><strong>Sample Type:</strong></td>
                    <td>{{ report.sample_type }}</td>
                    <td><strong>Fabric Supplier:</strong></td>
                    <td>{{ report.fab_supplier }}</td>
                </tr>
            </tbody>
        </table>

        
        <!-- Test report section-->
        <p> 1. {{ requirment.tear_method }}</p>
        <table class="table">
            <thead>
                <tr>
                    <th>Fabric Type</th>
                    <th>Warp</th>
                    <th>Weft</th>
                    <th>Requirements</th>
                    <th>Comments</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Raw</td>
                    <!-- raw_tear_warp -->
                    {% if report.raw_tear_warp %} 
                        <td>{{ report.raw_tear_warp }}</td>
                    {% else %}
                        <td>-</td>
                    {% endif %}
                    <!-- raw_tear_weft -->
                    {% if report.raw_tear_weft %} 
                        <td>{{ report.raw_tear_weft }}</td>
                    {% else %}
                        <td>-</td>
                    {% endif %}
                    <td>-</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>Wash</td>
                    <!-- wash_tear_warp -->
                    {% if report.wash_tear_warp %} 
                        <td>{{ report.wash_tear_warp }}</td>
                    {% else %}
                        <td>-</td>
                    {% endif %}
                    <!-- wash_tear_weft -->
                    {% if report.wash_tear_weft %} 
                        <td>{{ report.wash_tear_weft }}</td>
                    {% else %}
                        <td>-</td>
                    {% endif %}
                    <td>{{ requirment.tear_text }}</td>
                    <!-- if result is Ok green, if not ok red, else warning -->
                    {% if report.tear_comment == 'Ok' %}
                        <td style="color: green;">{{ report.tear_comment }}</td>
                    {% elif report.tear_comment == 'Not Ok' %}
                        <td style="color: red;">{{ report.tear_comment }}</td>
                    {% else %}
                        <td style="color: orange;">{{ report.tear_comment }}</td>
                    {% endif %}
                </tr>
            </tbody>
        </table>

        <!-- Tenslie report section-->
        <p> 2. {{ requirment.tensile_method }}</p>        
        <table class="table">
            <thead>
                <tr>
                    <th>Fabric Type</th>
                    <th>Warp</th>
                    <th>Weft</th>
                    <th>Requirements</th>
                    <th>Comments</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Raw</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>Wash</td>
                    <!-- tensile_warp -->
                    {% if report.tensile_warp %} 
                        <td>{{ report.tensile_warp }}</td>
                    {% else %}
                        <td>-</td>
                    {% endif %}
                    <!-- tensile_weft -->
                    {% if report.tensile_weft %} 
                        <td>{{ report.tensile_weft }}</td>
                    {% else %}
                        <td>-</td>
                    {% endif %}
                    <td>{{ requirment.tensile_text }}</td>
                    <!-- if result is Ok green, if not ok red, else warning -->
                    {% if report.tensile_comment == 'Ok' %}
                        <td style="color: green;">{{ report.tensile_comment }}</td>
                    {% elif report.tensile_comment == 'Not Ok' %}
                        <td style="color: red;">{{ report.tensile_comment }}</td>
                    {% else %}
                        <td style="color: orange;">{{ report.tensile_comment }}</td>
                    {% endif %}
                </tr>
            </tbody>
        </table>

        
        <!-- Rubbing section-->
        <p> 3. {{ requirment.rubbing_method }}</p>
        <table class="table">
            <thead>
                <tr>
                    <th>Dry</th>
                    <th>Wet</th>
                    <th>Requirements</th>
                    <th>Comments</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <!-- dry_rubbing -->
                    {% if report.dry_rubbing %} 
                        <td>{{ report.dry_rubbing }}</td>
                    {% else %}
                        <td>-</td>
                    {% endif %}
                    <!-- wet_rubbing -->
                    {% if report.wet_rubbing %} 
                        <td>{{ report.wet_rubbing }}</td>
                    {% else %}
                        <td>-</td>
                    {% endif %}
                    <td>{{ requirment.rubbing_text }}</td>
                    <!-- if result is Ok green, if not ok red, else warning -->
                    {% if report.rubbing_comment == 'Ok' %}
                        <td style="color: green;">{{ report.rubbing_comment }}</td>
                    {% elif report.rubbing_comment == 'Not Ok' %}
                        <td style="color: red;">{{ report.rubbing_comment }}</td>
                    {% else %}
                        <td style="color: orange;">{{ report.rubbing_comment }}</td>
                    {% endif %}
                </tr>
            </tbody>
        </table>

    
        </div>

        <!-- Result Sections -->
        <br/>
        <div class="invoice-footer">
            <table class="table">
                <tr>
                    <td colspan="2">
                        <!-- if result is Ok green, if not ok red, else warning -->
                        {% if report.result == 'Result is Ok' %}
                            <p> Result: <span style="color: green;"><u>{{ report.result }}</u></span> </p>
                        {% elif report.result == 'Result Not Ok' %}
                            <p> Result: <span style="color: red;"><u>{{ report.result }}</u></span> </p>
                        {% else %}
                            <p> Result: <span style="color: orange;"><u>{{ report.result }}</u></span> </p>
                        {% endif %}
                    </td>
                </tr>
            </table>
            <table class="table">
                <tr>
                    <td>
                        <p><u>Tested By</u></p>
                        <p>Mehedi Hasan Shuvo</p>    
                    </td>
                    <td>
                        <p><u>Checked By</u></p>
                        <p>Ruhul Amin</p>   
                    </td>
                </tr>
            </table>
        </div>
        

    </div>

</body>
</html>
